<nb-card>
  <h1>Sign in to Goodreads</h1>
  <div class="website-list">
    <button class="social-btn fb-continue">
      <h2>fb</h2>
    </button>
    <button class="social-btn amazon-continue">
      <h2>amazon</h2>
    </button>
    <button class="social-btn apple-continue">
      <h2>apple</h2>
    </button>
    <button class="social-btn email-continue">
      <h2>email</h2>
    </button>
    <button class="social-btn google-continue">
      <h2>google</h2>
    </button>
  </div>
  <p><span>Not a member?</span><a href="/user/sign_up">Sign up</a></p>
</nb-card>
