<nb-card>
  <h1>Sign up to Goodreads</h1>
  <p>
    Sign up to see what your friends are reading, get book recommendations, and
    join the world’s largest community of readers.
  </p>
  <div class="website-list">
    <button class="social-btn fb-continue">
      <h2>Continue with Facebook</h2>
    </button>
    <button class="social-btn amazon-continue">
      <h2>Continue with Amazon</h2>
    </button>
    <button class="social-btn apple-continue">
      <h2>Continue with Apple</h2>
    </button>
    <button class="social-btn email-continue">
      <h2>Sign up with Email</h2>
    </button>
    <button class="social-btn google-continue">
      <h2>google</h2>
    </button>
  </div>
  <p class="sign-up-link">
    <span>Already a member?</span><a href="/user/sign_in"> Sign in</a>
  </p>
  <div class="mobile-app-link">
    <p>Get our free app:</p>
    <a href="https://play.google.com/store/apps/details?id=com.goodreads&pli=1">
      <div class="app-store-img"></div>
    </a>
  </div>
</nb-card>
